

  *{
    box-sizing: border-box;
  }
  body{
    background-color: #F0F0C9;
    text-align: center;
  }
  h1{
    color: #D8572A;
    text-align: center;
    margin-top: 20px;
  }
  
  
  .di{
    background-color: gray;
    width: 364px;
    height: 132px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 90px;
    margin: auto;
  }

  .paragraph{
     font-family: cursive;
     background-color: gray;
  }

  .category{
    display: block;
    width: 364px;
    height: 28px;
    border-radius: 10px;
    margin: auto;
    margin-top: 330px;
  }
 
 
 
  .submitBtn1{
    display: block;
    font-family: cursive;
    background-color: blue;
    border-radius: 10px;
    width: 364px;
    height: 48px;
    margin: auto;
    margin-top: 90px;
  }


  .submitBtn2{
    display: block;
    font-family: cursive;
    background-color: #D8572A;
    border-radius: 10px;
    width: 185px;
    height: 33px;
    margin: auto;
    margin-top: 5%;
  }

  .immagine1{
    display: block;
    margin: auto;
  }

  .immagine2{
    display: block;
    margin: auto;
    margin-top: 70px;
  }
 
  
 
 
